{% extends 'base.html.twig' %}
{% form_theme form 'form/theme.html.twig' %}
{% block body %}
    <div class="p-6">
        <img src="{{ me.pp }}" alt="">
        <div class="w-1/2 mx-auto">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn-primary mt-2">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

