<header class="bg-gray-800">
    <div class="container mx-auto px-4 py-5">
        <div class="flex items-center justify-between">
            <div class="flex-shrink-0">
                <a href="/" class="text-white text-2xl font-bold "><img src="{{ asset('media/tntLogo.svg') }}" alt="" class="hover:scale-110 active:scale-90 transition-all ease-in-out"></a>
            </div>
            <nav class="hidden md:flex space-x-10">
                <a href="#" class="text-gray-300 hover:text-white">Accueil</a>
                <a href="#" class="text-gray-300 hover:text-white">Projets</a>
                <a href="#" class="text-gray-300 hover:text-white">À Propos</a>
                <a href="#" class="text-gray-300 hover:text-white">Contact</a>
            </nav>
            <div class="flex items-center">
                <div class="flex border-2 rounded">
                    <input type="text" class="px-4 py-2 w-80" placeholder="Rechercher...">
                    <button class="flex items-center justify-center px-4 border-l">
                        <svg class="w-6 h-6 text-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.707 20.293l-5.387-5.387A7.933 7.933 0 0 0 18 10c0-4.418-3.582-8-8-8S2 5.582 2 10s3.582 8 8 8a7.933 7.933 0 0 0 4.906-1.68l5.387 5.387a.999.999 0 1 0 1.414-1.414zM4 10c0-3.309 2.691-6 6-6s6 2.691 6 6-2.691 6-6 6-6-2.691-6-6z"/></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>